<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Jackson Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="assets/css1/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="assets/css1/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="assets/css1/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="assets/css1/flexslider.css">
	<!-- Flaticons  -->
	<!-- <link rel="stylesheet" href="assets/fonts1/flaticon/font/flaticon.css"> -->
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="assets/css1/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css1/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="assets/css1/style.css">

	<!-- Modernizr JS -->
	<script src="assets/js1/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="colorlib-page">
	<div class="container-wrap">

		<div id="colorlib-main">

			<section class="banner_area">
				<div class="box_1620">
					<div class="banner_inner d-flex align-items-center">
						<div class="container">
							<div class="banner_content text-center">
								<h2>Projects</h2>
								<div class="page_link">
									<a [routerLink]="['/home']">Home</a>
									<a [routerLink]="['/projects']">Projects</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<div class="container-fluid">
				<section class="colorlib-experience" data-section="experience">
					<div class="colorlib-narrow-content">
						
						<div class="row">
							<div class="col-md-12">
							 <div class="timeline-centered">
								 <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
									<div class="timeline-entry-inner">
				
									   <div class="timeline-icon color-1">
										  <i class="icon-pen2"></i>
									   </div>
				
									   <div class="timeline-label">
										  <h2><b>HOSPITAL MANAGEMENT APP </b></h2>
										  <p><strong> Technology Used:- </strong>HTML,CSS, Bootstrap, JS , CodeIgniter Framework, MySQL.</p> 
										</div>
									</div>
								 </article>
				
				
								 <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
									<div class="timeline-entry-inner">
									   <div class="timeline-icon color-2">
										  <i class="icon-pen2"></i>
									   </div>
									   <div class="timeline-label">
										<h2><b>Customers Loan Management System</b></h2>
										<p><strong> Technology Used:- </strong>HTML, CSS,Bootstrap, JS , CodeIgniter Framework, MySQL.</p> 
									   </div>
									</div>
								 </article>
				
								 <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
									<div class="timeline-entry-inner">
									   <div class="timeline-icon color-3">
										  <i class="icon-pen2"></i>
									   </div>
									   <div class="timeline-label">
										<h2><b>Image Selection Pocess via personal  ID </b></h2>
										<p><strong> Technology Used:- </strong>HTML, CSS,Bootstrap, JS , PHP , MySQL.</p> 
									  </div>
									</div>
								 </article>
				
								 <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
									<div class="timeline-entry-inner">
									   <div class="timeline-icon color-none">
									   </div>
									</div>
								 </article>
							  </div>
						   </div>
					   </div>
					</div>
				</section>
			</div>
			

		</div><!-- end:colorlib-main -->
	</div><!-- end:container-wrap -->
	</div><!-- end:colorlib-page -->

	<!-- jQuery -->
	<script src="assets/js1/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="assets/js1/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="assets/js1/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="assets/js1/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="assets/js1/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="assets/js1/owl.carousel.min.js"></script>
	<!-- Counters -->
	<script src="assets/js1/jquery.countTo.js"></script>
	
	
	<!-- MAIN JS -->
	<script src="assets/js1/main.js"></script>

	</body>
</html>





