
<!doctype html>
<html lang="en">
    <body>
        
        <app-navbar></app-navbar>

        <router-outlet></router-outlet>
        

        <!--================Footer Area =================-->
        <footer class="footer_area p_120">
        	<div class="container">
        		<div class="row footer_inner">
                    <div class="col-lg-5 ">
                        <div class="f_title">
                            <p> Power By <strong> KiRAN</strong></p>
                        </div>
                        
                    </div>
        			<div class="col-lg-5 ">
        					<div class="f_title">
        						<h3>About Me</h3>
        					</div>
        					
        			</div>
        			
        			<div class="col-lg-2">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Follow Me</h3>
        					</div>
        					<p>Let us be social</p>
        					<ul class="list">
        						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        						<li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
        						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
        						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
        					</ul>
        				</aside>
        			</div>
        		</div>
        	</div>
        </footer>
        <!--================End Footer Area =================-->
        <!-- <div class="srolltop float-right">
            <i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn"></i>
        </div> -->
        
    </body>
</html>
<!-- <script>
    
        //get the btn
    mybutton=document.getElementById("myBtn");

    // when the user scrolls down 20px from the top of the document ,show the button
    window.onscroll=function(){scrollFunction()};

    function scrollFunction()
    {
        if(document.body.scrollTop > 20 || document.documentElement.scrollTop > 20)
        {
            mybutton.style.display = "block";
        }
        else
        {
            mybutton.style.display = "none";
        }
    }

    //when the user clicks on the buttton,scroll to the top of the docemtnte.
    function topFunction()
    {
        document.body.scrollTop=0; //for safari
        document.documentElement.scrollTop=0;//for chrme,firefox,IE and opera
    }
</script> -->