 <!--================Home Banner Area =================-->
 <section class="home_banner_area">
    <div class="container box_1620">
        <div class="banner_inner d-flex align-items-center">
         <div class="banner_content">
             <div class="media">
                 <div class="d-flex">
                     <img src="assets/img/kiran/mypic.JPG" alt="kiran">
                 </div>
                 <div class="media-body">
                     <div class="personal_text">
                         <h6>Hello Everybody, i am</h6>
                         <h3>Kiran Pawar</h3>
                         <h4>Full Stack Web Developer</h4>
                         <p> <strong>Bachlour Of Engineering </strong>  In <strong> IT</strong> </p>
                         <ul class="list basic_info">
                             <li><a><i class="lnr lnr-calendar-full"></i> 08th December 1994</a></li>
                             <li><a href="tel:+917020471054"><i class="lnr lnr-phone-handset"></i>(+91)7020471054</a></li>
                             <li><a href="mailto:pawark485@gmail.com"><i class="lnr lnr-envelope"></i> pawark485@gmail.com</a></li>
                             <li><a><i class="lnr lnr-home"></i> Shankar Nagar, Dwarka , Nashik</a></li>
                         </ul>
                         <ul class="list personal_social">
                             <li><a ><i class="fa fa-linkedin"></i></a></li>
                             <li><a><i class="fa fa-github"></i></a></li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</section>
<!--================End Home Banner Area =================-->


 <!--================Welcome Area =================-->
 <section class="welcome_area p_120">
    <div class="container">
        <div class="row welcome_inner">
            <div class="col-lg-6">
                <div class="welcome_text">
                    <h4>About Myself</h4>
                    <li>I am Kiran Pawar my Profession is Developer. </li>
                    <li>I have  Six  Months  Worikng  Experience  as  a  Full  Stack  Web  Developer in  Pointer IT Solution, Nashik. </li>
                    <li>I have Completed Bachlour Of Engineering in Information Technology From Matoshri College Of Engineering and Reaserch Center, Nashik. </li>
                    <li>I have Completed Certified Course in Full  Stack  Web  Developer From Seed Infotech, Nashik </li>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tools_expert">
                    <div class="skill_main">
                        <div class="skill_item">
                            <h4>HTML5 <span class="counter">85</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>CSS3 <span class="counter">90</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>Bootstrab <span class="counter">70</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>Java Script <span class="counter">95</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div> 
                        </div>
                        <div class="skill_item">
                            <h4>PHP <span class="counter">75</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->

 <!--================My Tabs Area =================-->
 <section class="mytabs_area p_120">
    <div class="container">
        <div class="tabs_inner">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Education" role="tab" aria-controls="Education" aria-selected="true">My Education </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Experiences" role="tab" aria-controls="Experiences" aria-selected="false">My Experiences</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="Education" role="tabpanel" aria-labelledby="home-tab">
                    <ul class="list">
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>JUNE 2016 to JUNE 2019</p>
                                </div>
                                <div class="media-body">
                                    <h4>BE</h4>
                                    <p>Matoshri Engineering College, Nashik  <br/> in IT</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>JUNE 2012 to JUNE 2016</p>
                                </div>
                                <div class="media-body">
                                    <h4>DIPLOMA</h4>
                                    <p>From <br> Gurukul Polytechnic, Nandgaon <br /> in Computer Engineering</p>
                                </div>
                            </div>
                        </li>
                        <li>
                        <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>JUNE 2011 to JUNE 2012</p>
                                </div>
                                <div class="media-body">
                                    <h4>HSC</h4>
                                    <p>ACS College, Nandgaon </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>JUNE 2009 to JUNE 2010</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>SSC</h4>
                                        <p>New English School, Nandgaon </p>
                                    </div>
                                </div>
                            </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="Experiences" role="tabpanel" aria-labelledby="profile-tab">
                    <ul class="list">
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>Nov 2019 to Mar 2020</p>
                                </div>
                                <div class="media-body">
                                    <h4>Full Stack Web Developer</h4>
                                    <h6>Pointer IT Solution,  Nashik</h6>
                                    <p>Junior Web Developer </p>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End My Tabs Area =================-->